:root {
    --cor-base: #8a2a2a;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: var(--cor-base);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: .5% 2%;
}

header a {    
    color: white;
    font-size: 14pt;
}

header #titulo {
    display: flex;
    align-items: center;
}

header a#titulo img {
    width: 20%;
    margin-right: 10px;
}

header ul {
    list-style: none;
}

header li {
    display: inline;
    padding: 10% 10px;
    text-transform: uppercase;
}

header li:hover {
    background-color: #eb999981;
}

main {
    margin: 2% 5%;
}

footer {
    background-color: var(--cor-base);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: .5%;
}

a {
    text-decoration: none;
    color: var(--cor-base);
}