.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-evenly;  
}

.grupo {
    /* background: -webkit-radial-gradient(rgb(20, 184, 196), black); */
    background: -webkit-linear-gradient(rgb(20, 184, 196), black);
    padding: 2% 2% 4% 2%;
    border-radius: 25px;
    margin: 4%;
}

strong.destaque {
    color: #b62f2f;
}

/* .flex-centro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

.div-menor {
    width: 560px;
}

body {
    font-family: sans-serif;
}

.uma-tela {
    height: 100vh;
}

h1 {
    font-size: 27pt;
    margin-top: 0;
}

h2 {
    font-size: 24pt;
    margin: 0 0 2% 2%;
    color: white;
}

p,
a {
    font-size: 14pt;
}

li {
    padding: 2px 0;
}

section#frameNav {
    padding: 1% 0 0 1%;
}

iframe#navegacaoIframe {
    height: 80%;
    width: 60%;
    /* background-color: #f2f4f985; */
}